.__main__{
    background-image: url(/src/img/png/bacground.png);
}
#__main__{
    /* width: 1000px; */

    height:4000px;
}
.size_debug{
    position: fixed;
    font-size: 12px;
    color: #FFFFFF;

}
.page_test{
    width: 300px;
    height: 6000px;
    background-color: green;
}

@font-face {
    font-family: "Sunday";
    src: url(/src/fonts/Sunday-Regular.otf) format("opentype");
}
@font-face {
    font-family: "Chalkduster";
    src: url(/src/fonts/Chalkduster.ttf) format("truetype");
}
@font-face {
    font-family: "Monocraft";
    src: url(/src/fonts/Monocraft.otf) format("opentype");
}

.__h1{
    font-family: Sunday;
    font-size: 60px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.box_menu_text_line{
    height: 0px;
    border-top:#FFFFFF solid 2px;
    margin-bottom: 72px;
}
@media(max-aspect-ratio: 4/3 ){
    .box_menu{
        height: 204px; /*430px*/
        margin-top: 5.3%;
        position: relative;
        z-index: 4;
    }
    .box_menu_column{
        position: fixed;
        width: 60px;
        height: 180px;
    }
    
    
    .box_menu_column_left{
        position: fixed;
        left: 7%;
    }
    .box_menu_column_left_map_icon{
        position: relative;
        width: 60px;
        height: 60px;
        margin-bottom: 20px ;
        scale: 83%;     
    }
    .box_menu_column_left_afisha_icon{
        position: relative;
        width: 60px;
        height: 60px;
        scale: 83%;
    }
    
    
    
    .box_menu_column_right{
        position: fixed;
        right: 7%;
    }
    .box_menu_column_right_coffee_icon{
        position: relative;
        width: 60px;
        height: 60px;
        margin-bottom: 20px ;
        scale: 83%;
    }
    .box_menu_column_right_hmel_icon{
        position: relative;
        width: 60px;
        height: 60px;
        scale: 83%;
    }
    
    
    
    .box_menu_column_middle{
        position: relative;
        width: 105px;
        height: 117px;
        top: 2.1%;
        /* left: 37%; */
        margin: 0 auto ;
    }
    .box_menu_main_logo_icon{
        position: relative;
        /* margin: 5.3px 0 20px 37.7%; */
        width: 105px;
        height: 117px;
        
    }
    
    #box_menu_textid{
        position: relative;
        height: 250px;
        overflow-x: hidden;
        width: 100vh;
        margin: 0 auto 20px;

    }
    #box_menu_text_coffee{
        position: relative;
        text-align: center;
        margin-left: 0px;
    }
    #box_menu_text_beer{
        position: relative;
        text-align: center;
        margin-left: 0px;
    }
    #box_menu_text_poster{
        position: relative;
        text-align: center;
        margin-left: 0px;
    }


    #box_menu_text_lines{
        position: absolute;
        right: 0px;
    }
    #box_menu_text_coffee_line{
        position: absolute;
        width: 0;
        right: 0;
        
    }
    #box_menu_text_beer_line{
        position: absolute;
        width: 0;
        /* margin-top: 72px; */
        right: 0;
    }
    #box_menu_text_poster_line{
        position: absolute;
        width: 0;
        right: 0;
        /* margin-top: 144px; */
    }



    .box_menu_text_icons{
        position: absolute;
        height: 250px;
        width: 60px;
        left: 7%;
    }
    #box_menu_text_icons_coffee_icon{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #box_menu_text_icons_hmel_icon{
        margin-bottom: 10px;
    }
    #box_menu_text_icons_afisha_icon{

    }



    /*CAROUSEL FIELD*/
    #carousel_block{
        margin: 0 0 20px;
    }
    .slides_carousel{
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        width: 340px;
        /* height: 200px; */
        margin: 0 auto;
        scroll-snap-type: x mandatory;
        
    }
    .slides_img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 100px;
        /* height: 250px; */
        /* font-size: 50px; */
        scroll-snap-align: start;
        background-repeat: no-repeat;
        /* background-position: -40px 0px; */
        background-size: cover;
        border-radius: 20px;
    }
    .slides_img_0{
        /* width: 255px; */
        height: 320px;
        background-image: url(/src/img/png/1.png);
        /* background-color: blue; */
    }
    .slides_img_1{
        /* width: 255px; */
        height: 320px;
        background-image: url(/src/img/png/2.png);
        /* background-color: brown; */
    }
    .slides_img_2{
        /* width: 255px; */
        height: 320px;
        background-image: url(/src/img/png/3.png);
        /* background-color: aqua; */
    }


    
    /*COFFE MENU*/
    #coffe_menu{
        position: relative;
        z-index: 1;
        width: 395px;
        height: 240px;
        margin: 0 auto;
        /* background-color: aquamarine; */
    }
    .coffe_menu_head{
        position: absolute;
        width: 177px;
        height: 49px;
        left: 109px;
        /* margin: 0 auto -10px; */
        z-index: 3;
        background-image: url("/src/icons/menu_table.svg");
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: cover; */
        /* background-color: aqua; */
    }
    .coffe_menu_sqr{
        position: absolute;
        width: 387px;
        height: 187px;
        top: 45px;
        z-index: 2;
        /* margin: 0 auto; */
        border: #FFFFFF solid 4px;
        background-color: #1D1D1D;
    }
    .coffe_menu_sqr_left{
        position: absolute;
        margin-top: 20px;
        width: 165px;
        left: 15px;
    }
    .coffe_menu_sqr_right{
        position: absolute;
        margin-top: 20px;
        width: 165px;
        right: 15px;
    }
    .coffe_menu_sqr_text_block{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    .coffe_menu_sqr_text_block {
        position: relative;
        margin-bottom: 10px;
    }
    .coffe_menu_sqr_text{
        background-color: #1D1D1D; /* Это необходимо, чтобы перекрыть точки фоном */
        margin: 0;
        font-family: Chalkduster;
        font-size: 15px;
        color: #FFFFFF;
    }
    .coffe_menu_sqr_price{
        position: absolute;
        background-color: #1D1D1D; /* Это необходимо, чтобы перекрыть точки фоном */
        margin: 2px;
        padding-left: 2px;
        right: 0;
        font-family: Chalkduster;
        font-size: 15px;
        color: #FFFFFF;
    }
    .coffe_menu_sqr_line{
        position: absolute;
        margin-top: 20px;
        left:192px;
        border: #FFFFFF solid 1.5px;
        height: 94px;

    }
    .coffe_menu_sqr_sirops{
        position: relative;
        width: 230px;
        height: 58px;
        border-radius: 32px;
        left: 78.5px;
        top: 124px;
        background-color: #1D1D1D;
        border: solid 4px #FFFFFF;
    }
    .coffe_menu_sqr_sirops_text{
        /* vertical-align: middle; */
        font-family: Sunday;
        font-size: 30px;
        color: #FFFFFF;
    }
}   