.beer_menu_sqr_snack{
    z-index: 3;
    position: absolute;
    overflow: hidden;
    top: 365px;
    left: 12px;
    width: 843px;
    height: 300px;
    /* background-color: aqua; */
}
.beer_menu_sqr_button{
    z-index: 4;
}
.beer_menu_sqr_snack_head{
    position: absolute;
    width: 165px;
    left: 108px;
    font-family: Sunday;
    font-size: 40px;
    color: #FFFFFF;
}
.beer_menu_sqr_snack_parent{
    position: absolute;
    top: 50px;
    width: 843px;
    /* background-color: blueviolet; */
    height: 225px;
}
.beer_menu_sqr_snack_child{
    display:inline-block;
    vertical-align: top;
    margin-top: 0;
    /* margin: 5px; */
    width: 365px;
    height: 150px;
    /* background-color: brown; */
}
.beer_menu_sqr_snack_child_1{
    position: absolute;
    height: 150px;
}
.beer_menu_sqr_snack_child_2{
    position: absolute;
    top: 150px;
    height: 225px;
    right: 0px;
}


.beer_menu_sqr_snack_sqr_factory_points{
    position: relative;
    margin-bottom: 10px;
    /* top: 50px; */
    height: 20px;
    width: 360px;
    font-family: Chalkduster;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 24px;
}
.beer_menu_sqr_snack_sqr_factory_points_text_{
    position: absolute;
    left: 0px;
}
.beer_menu_sqr_snack_sqr_factory_points_price_{
    position: absolute;
    background-color: #1d1d1d;
    right: 0px;
}
.beer_menu_sqr_snack_sqr_craft_points{
    position: relative;
    margin-bottom: 10px;
    /* top: 50px; */
    height: 20px;
    width: 360px;
    font-family: Chalkduster;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 24px;
}
.beer_menu_sqr_snack_sqr_craft_points_chesse{
    position: absolute;
    top: 20px;
}
.beer_menu_sqr_snack_sqr_craft_points_chesse_sub{
    position: absolute;
    left:70px;
    width: 290px;
}
.beer_menu_sqr_snack_sqr_craft_points_meat{
    position: absolute;
    top: 45px;
}
.beer_menu_sqr_snack_sqr_craft_points_meat_sub_1{
    position: absolute;
    top: 70px;
    right: 155px;
}
.beer_menu_sqr_snack_sqr_craft_points_meat_sub_2{
    position: absolute;
    top: 70px;
    right: 0px;
}
.beer_menu_sqr_snack_sqr_craft_points_chips{
    position: absolute;
    top: 95px;
}
.beer_menu_sqr_snack_sqr_craft_points_chips_sub{
    margin: 0;
    padding: 4px;
    position: absolute;
    top: 120px;
    right: 0;
}
.beer_menu_sqr_snack_sqr_craft_points_chips_sub_{
    display: inline;
    margin-left: 24px;
}











